.dropdown-content{
    margin: 20px 15px 20px 20px;

}

.dropdown{
    background-color: #FF6060;
    height: 13px;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}