.dropdown-content {
    margin: 20px 0 20px 0;

    @media screen and (min-width:1440px) {
        margin: 38px 200px 38px 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.dropdown {
    background-color: #FF6060;
    height: 13px;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    i {
        font-size: large;
    }
}