.fa-star {

    color: #C4C4C4;
    font-size: 13px;
    padding: 2px;

    @media screen and (min-width:1024px) {
        font-size: 24px;
        padding: 5px;
    }

}

.star-active {
    color: #FF6060;
}