header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 0 20px;

    @media screen and (min-width:1440px) {
        margin: 45px 100px 0 100px;
    }

    @media screen and (min-width:1920px) {
        margin: 45px 180px 0 180px;
    }

    img {
        width: 145px;
        height: auto;

        @media screen and (min-width:1440px) {
            width: 211px;
            height: auto;
        }
    }

    .header-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 26px;
        list-style: none;

        text-transform: uppercase;
        font-size: 12px;

        @media screen and (min-width:1440px) {
            gap: 57px;
            text-transform: none;
            font-size: 24px;
        }

        @media screen and (min-width:1441px) and (max-width: 2560px) {
            font-size: 34px;
        }

        a {
            text-decoration: none;
            color: #FF6060;

        }

        .active {
            text-decoration: underline;
        }

    }

}