header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 0 20px;
    @media screen and (min-width:1440px) {
        margin: 45px 100px 0 100px;
    }
    img{
        width: 145px;
        height: auto;
        @media screen and (min-width:1440px) {
            width: 211px;
            height: auto;
        }
    }
    .header-list{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 26px;
        list-style: none;
        color: #FF6060;
        text-transform: uppercase;
        font-size: 12px;
        @media screen and (min-width:1440px) {
            gap: 57px;
            text-transform: none;
            font-size: 24px;
        }
    }

}
